.App {
  text-align: center;
  height: 100%;
}

.App-logo {
  margin-top: 200px;
  height: 175px;
}

.App-header {
  height: 200px;
  padding: 20px;
  color: white;
}

.Buttons-container {
  margin-top: 300px;
  margin-left: 10px;
}

.button {
  margin-left: 20px;
  margin-right: 40px;
}

.footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 30%;
  max-height: calc(100% - 551px);
  /* IE10 Consumer Preview */
  background-image: -ms-linear-gradient(top, #FFFFFF 0%, #FF001F 100%);

  /* Mozilla Firefox */
  background-image: -moz-linear-gradient(top, #FFFFFF 0%, #FF001F 100%);

  /* Opera */
  background-image: -o-linear-gradient(top, #FFFFFF 0%, #FF001F 100%);

  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #FF001F));

  /* Webkit (Chrome 11+) */
  background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #FF001F 100%);

  /* W3C Markup, IE10 Release Preview */
  background-image: linear-gradient(to bottom, #FFFFFF 0%, #FF001F 100%);
}
